<!DOCTYPE html>
<html>
<head>
  <title>WhereToNext</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Questrial' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Syncopate' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap' %>
  <%= stylesheet_link_tag 'application', "https://use.fontawesome.com/releases/v5.11.2/css/all.css" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <a href="/"><h1><div class="title">Where<span class="brand-text">To</span>Next</div></h1></a>
    <div class="top-bar-right">
      <div class="button-group">
        <%- if current_user -%>
          <%= link_to 'My Account', listings_path, class: "button" %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "button" %>
        <%- else -%>
          <%= link_to 'Sign In', new_user_session_path, class: "button" %>
          <%= link_to 'Sign Up', new_user_registration_path, class: "button" %>
        <%- end -%>
      </div>
    </div>
  </nav>

  <div id="flash-messages">
    <% flash.each do |key, value| %>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <% end %>
  </div>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
<footer>
  <span class="footer"><h5 class="footer">Created by Vivian Wang</h5></span>
  <span class="footer right"><a href="https://www.linkedin.com/in/vivian-e-wang/" class="footer-link">LinkedIn</a></span>
  <span class="footer right"><h6 class="footer">|</h6></span>
  <span class="footer right"><a href="https://github.com/veeveeanne" class="footer-link">GitHub</a></span>
</footer>
</html>
